Repository parkrevil/bunner: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: long lib path to short
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/errors/http_server_error.rs
  rust-packages/http-server/src/pointer_registry_test.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/router/pattern.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/builder.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/router/radix_tree/memory.rs
  rust-packages/http-server/src/router/readonly.rs
  rust-packages/http-server/src/utils/ffi_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: delete unused package
  rust-packages/http-server/Cargo.toml
Due: none

feat: remove interner error code
  rust-packages/http-server/src/errors/internal_error.rs
  rust-packages/http-server/src/errors/mod.rs
  rust-packages/http-server/src/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/json_test.rs
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: HttpServerError -> FfiError
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/errors/http_server_error.rs
  rust-packages/http-server/src/errors/mod.rs
  rust-packages/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: split ffi error files
  rust-packages/http-server/src/errors/codes.rs
  rust-packages/http-server/src/errors/ffi_error.rs
  rust-packages/http-server/src/errors/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: RouterError
  rust-packages/http-server/src/router/errors.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/path.rs
  rust-packages/http-server/src/router/pattern.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/router/readonly.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: all of errors
  rust-packages/http-server/src/errors/codes.rs
  rust-packages/http-server/src/errors/ffi_error.rs
  rust-packages/http-server/src/router/errors.rs
  rust-packages/http-server/src/router/structures.rs
  rust-packages/http-server/src/types.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

doc: ai rules
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/utils/string.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: add get app function
  rust-packages/core/logger/src/lib.rs
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/constants.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/errors/codes.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/errors.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: add deserialize_json_pointer cases
  rust-packages/http-server/src/utils/ffi_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: apply pointer type
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/pointer_registry.rs
  rust-packages/http-server/src/pointer_registry_test.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/ffi_test.rs
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/tests/utils/pointer.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: hook
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/errors/mod.rs
  rust-packages/http-server/src/helpers.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/pattern.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/router/readonly.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/string_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: add app options, and restruct lifecycle ffi init
  examples/src/main.ts
  packages/core/logger/src/enums.ts
  packages/core/logger/src/interfaces.ts
  packages/core/logger/src/logger.ts
  packages/core/src/application/base-application.ts
  packages/core/src/bunner.ts
  packages/core/src/common/enums.ts
  packages/core/src/common/index.ts
  packages/core/src/common/types.ts
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/interfaces.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/interfaces.ts
  rust-packages/core/logger/src/lib.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: app id type to u32 and auto define atomic type
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/types.ts
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/types.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add middleware chain to app
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/middlewares/body_parser.rs
  rust-packages/http-server/src/middlewares/cookie_parser.rs
  rust-packages/http-server/src/middlewares/header_parser.rs
  rust-packages/http-server/src/middlewares/middleware_chain.rs
  rust-packages/http-server/src/middlewares/mod.rs
  rust-packages/http-server/src/middlewares/traits.rs
  rust-packages/http-server/src/middlewares/url_parser.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add middleware lifecycle
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/helpers.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/middlewares/middleware_chain.rs
  rust-packages/http-server/src/middlewares/mod.rs
  rust-packages/http-server/src/middlewares/traits.rs
  rust-packages/http-server/src/structures.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: fit handle request result to rust
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/ffi/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write

feat: base worker pool
  packages/core/src/worker-pool/index.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add worker load balancer
  packages/core/src/worker-pool/load-balancer.ts
Due: bunx eslint --fix, bunx prettier --write

feat: bi-connect worker-pool load balancer
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: improve load balancer algorithm to use 5 metrics
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: rename variables
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: create worker
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: base worker
  packages/core/index.ts
  packages/core/src/worker-pool/base-worker.ts
  packages/core/src/worker-pool/enums.ts
  packages/core/src/worker-pool/index.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: move main logic to worker
  package.json
  packages/core/src/application/base-application.ts
  packages/core/src/bunner.ts
  packages/http-server/package.json
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/enums.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: apply comlink
  packages/core/src/bunner.ts
  packages/core/src/worker-pool/base-worker.ts
  packages/core/src/worker-pool/enums.ts
  packages/core/src/worker-pool/helpers.ts
  packages/core/src/worker-pool/index.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/enums.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add @RootModule decorator
  examples/src/app.module.ts
  examples/src/main.ts
  examples/src/root.module.ts
  packages/core/src/application/decorators/class.decorator.ts
  packages/core/src/application/decorators/interfaces.ts
  packages/core/src/application/interfaces.ts
  packages/core/src/bunner.ts
  packages/core/src/injector/container.ts
  packages/core/src/injector/enums.ts
  packages/core/src/injector/types.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: use worker directly
  packages/core/src/worker-pool/helpers.ts
  packages/core/src/worker-pool/index.ts
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/lib.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: hook
  rust-packages/http-server/src/middlewares/middleware_chain.rs
  rust-packages/http-server/src/middlewares/mod.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/types.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: restore WorkerPoolOptions
  packages/core/src/worker-pool/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write

fix: dependency comlink
  packages/core/package.json
Due: bunx eslint --fix, bunx prettier --write

feat: add app name to rust creation options
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: ensure only a single instance by name
  packages/core/src/bunner.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add worker_id to route node
  packages/core/src/application/interfaces.ts
  packages/core/src/bunner.ts
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/builder.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/types.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add workerId
  packages/core/src/ffi/constants.ts
  packages/core/src/worker-pool/index.ts
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: solve route duplication issue
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/types.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: clear dead code
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: apply handle request
  examples/src/main.ts
  packages/core/src/bunner.ts
  packages/core/src/injector/container.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: lint
  rust-packages/http-server/src/utils/ffi.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: TS free pointer function
  examples/src/main.ts
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/ffi-pointer.ts
  packages/core/src/ffi/types.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

Path conditions:
  bunx eslint --fix: any of: *.{ts,json,md,css,yaml,yml}
  bunx prettier --write: any of: *.{ts,json,md,css,yaml,yml}
  sh -c 'rustfmt "$1" && git add "$1"' --: any of: *.rs
  echo Rust files formatted: any of: *.rs
