Repository parkrevil/bunner: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

.lintstagedrc.json:

{
  "*.{ts,json,md,css,yaml,yml}": ["bunx eslint --fix", "bunx prettier --write"],
  "*.rs": [
    "sh -c 'rustfmt \"$1\" && git add \"$1\"' --",
    "echo Rust files formatted"
  ]
}

refactor: ffi js callback
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/decorators.ts
  packages/core/src/ffi/enums.ts
  packages/core/src/ffi/ffi-pointer.ts
  packages/core/src/ffi/index.ts
  packages/core/src/ffi/interfaces.ts
  packages/core/src/ffi/types.ts
  packages/http-server/src/ffi/ffi.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: strict ffi types
  packages/core/logger/src/logger.ts
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/types.ts
  packages/core/src/ffi/utils.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: change add_route, add_routes pointer
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/ffi-pointer.ts
  packages/core/src/ffi/interfaces.ts
  packages/core/src/ffi/utils.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/rust-core/rust-core.ts
  rust-packages/http-server/src/errors/internal_error.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/pointer_registry.rs
  rust-packages/http-server/src/pointer_registry_test.rs
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
  rust-packages/http-server/src/request_handler/helpers.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/node.rs
  rust-packages/http-server/src/thread_pool.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/string.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: delete logger test
  packages/core/logger/src/logger.spec.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: add ffi util
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_handler/helpers.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/mod.rs
  rust-packages/http-server/src/utils/string.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: some
  rust-packages/http-server/src/pointer_registry_test.rs
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: move handle_request parsing logic to worker
  packages/core/src/ffi/base-ffi.ts
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
  rust-packages/http-server/src/request_handler/handler.rs
  rust-packages/http-server/src/request_handler/helpers.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/string.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

temp commit
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/utils.ts
  packages/http-server/src/ffi/ffi.ts
  rust-packages/http-server/src/errors/http_server_error.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
  rust-packages/http-server/src/request_handler/handler.rs
  rust-packages/http-server/src/request_handler/helpers.rs
  rust-packages/http-server/src/request_handler/types.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: rust lint
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: dont't use cstring callback argument
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/ffi-pointer.ts
  packages/core/src/ffi/utils.ts
  packages/http-server/src/ffi/ffi.ts
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_handler/callback_dispatcher.rs
  rust-packages/http-server/src/request_handler/helpers.rs
  rust-packages/http-server/src/request_handler/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/string.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: hook
  rust-packages/http-server/src/request_handler/handler.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: variable scope
  packages/http-server/src/ffi/ffi.ts
Due: bunx eslint --fix, bunx prettier --write

fix: lint
  rust-packages/http-server/src/utils/ffi.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: remove unused functions
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/json_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: remove unused functions
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/src/utils/string_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: add string test
  rust-packages/http-server/src/utils/string_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: add common test utils
  TEST_GUIDE.md
  rust-packages/http-server/tests/common/mod.rs
  rust-packages/http-server/tests/common/pointer_util.rs
  rust-packages/http-server/tests/common/registry_util.rs
  rust-packages/http-server/tests/common/string_util.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: apply test util
  TEST_GUIDE.md
  rust-packages/http-server/Cargo.toml
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/pointer_registry_test.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/json_test.rs
  rust-packages/http-server/src/utils/string_test.rs
  rust-packages/http-server/tests/common/mod.rs
  rust-packages/http-server/tests/common/pointer_util.rs
  rust-packages/http-server/tests/common/registry_util.rs
  rust-packages/http-server/tests/utils/json.rs
  rust-packages/http-server/tests/utils/mod.rs
  rust-packages/http-server/tests/utils/pointer.rs
  rust-packages/http-server/tests/utils/registry.rs
  rust-packages/http-server/tests/utils/string.rs
  scripts/cargo-test.sh
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: ffi
  rust-packages/http-server/src/utils/ffi_test.rs
  rust-packages/http-server/src/utils/mod.rs
  rust-packages/http-server/tests/utils/pointer.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: lint
  rust-packages/http-server/tests/utils/string.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: add http module
  rust-packages/http-server/src/http_server/mod.rs
  rust-packages/http-server/src/http_server/registry.rs
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/http_server/types.rs
  rust-packages/http-server/src/http_server_registry.rs
  rust-packages/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: edit ffi handle validation
  rust-packages/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: by hook
  rust-packages/http-server/src/utils/mod.rs
  rust-packages/http-server/tests/utils/pointer.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: move seal_routes into http_server
  .vscode/settings.json
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/mod.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: router public api
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: move router lock into router module for self managing
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/readonly.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: move add_route, add_routes logic into router module
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/router/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: add RequestHandler
  rust-packages/http-server/src/http_server/server.rs
  rust-packages/http-server/src/http_server_registry.rs
  rust-packages/http-server/src/request_handler/handler.rs
  rust-packages/http-server/src/request_handler/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: rename http server -> app
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/http_server/mod.rs
  rust-packages/http-server/src/http_server/types.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/types.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: remove request_handler
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/helpers.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/middleware/chain.rs
  rust-packages/http-server/src/pointer_registry.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/request_handler/handler.rs
  rust-packages/http-server/src/request_handler/mod.rs
  rust-packages/http-server/src/request_handler/types.rs
  rust-packages/http-server/src/router/errors.rs
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/readonly.rs
  rust-packages/http-server/src/router/types.rs
  rust-packages/http-server/src/structure.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/types.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: lint
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/helpers.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/middleware/body_parser.rs
  rust-packages/http-server/src/middleware/cookie_parser.rs
  rust-packages/http-server/src/middleware/header_parser.rs
  rust-packages/http-server/src/middleware/url_parser.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/router/errors.rs
  rust-packages/http-server/src/router/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: change handle -> appId
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/constants.ts
  packages/core/src/ffi/index.ts
  packages/core/src/ffi/interfaces.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  rust-packages/http-server/src/errors/http_server_error.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/types.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: app id to u64
  rust-packages/http-server/src/types.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: app id type
  packages/http-server/src/ffi/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write

feat: make uuid in rust
  rust-packages/http-server/Cargo.toml
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/constants.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/helpers.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/ffi_test.rs
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/src/utils/string_test.rs
  rust-packages/http-server/tests/utils/registry.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add requestKey to ts
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/ffi/interfaces.ts
  packages/core/src/ffi/types.ts
  packages/http-server/src/ffi/constants.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/ffi/types.ts
Due: bunx eslint --fix, bunx prettier --write

test: rewrite string test
  rust-packages/http-server/src/utils/string_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: rewrite ffi test
  rust-packages/http-server/src/utils/ffi_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: cast request key to bigint
  packages/http-server/src/ffi/ffi.ts
  rust-packages/http-server/src/app.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: copy rust buffer from ts buffer
  rust-packages/http-server/src/constants.rs
  rust-packages/http-server/src/types.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/string.rs
  rust-packages/http-server/src/utils/string_test.rs
  rust-packages/http-server/tests/utils/string.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted
