Repository parkrevil/bunner: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: imporve router error to contain details
  .cursor/rules/ai-model.mdc
  .cursor/rules/bunner.mdc
  .cursor/rules/development.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/example.mdc
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/mod.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/errors.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/router/structures.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/util.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages-ffi/http-server/tests/router_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: fix deps
  packages/core/index.ts
  packages/http-server/index.ts
  packages/http-server/package.json
Due: bunx eslint --fix, bunx prettier --write

temp commit
  packages-ffi/http-server/src/enum.rs
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/helpers.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/structures.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/util.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: remove ununsed functions
  packages-ffi/http-server/src/helpers.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/interner.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/find.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/tests/router_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: improve error details
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/interner.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/router/structures.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: enum -> enums
  packages-ffi/http-server/src/enums.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/tests/middleware_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages-ffi/http-server/tests/router_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: add rustfmt.toml
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/mask.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/tests/common.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/middleware_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages-ffi/http-server/tests/router_test.rs
  packages-ffi/http-server/tests/thread_pool_test.rs
  rustfmt.toml
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: clippy baseline
  Makefile
  packages-ffi/core/logger/src/lib.rs
  packages-ffi/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: add clippy unsafe_op
  packages-ffi/core/logger/src/lib.rs
  packages-ffi/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add queue timeout
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/mask.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: optimize interner get
  packages-ffi/http-server/src/router/interner.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: optimize entry
  packages-ffi/http-server/src/router/radix_tree/insert.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: optimize static children ordering
  packages-ffi/http-server/src/router/radix_tree/insert.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: remove duplicated code
  packages-ffi/http-server/src/router/readonly.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: remove dead code
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add time thread_id to error detail
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: update sort_static_children t ouse cached interned key
  packages-ffi/http-server/src/router/radix_tree/insert.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: tracing
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/chain.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/path.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add version to erro detail
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: remove cleanup conditions
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/router/interner.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: optimize static path
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/readonly.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

temp commit
  packages-ffi/core/logger/src/lib.rs
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/interner.rs
  packages-ffi/http-server/src/router/path.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

temp commit
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/enums.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/path.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
  packages-ffi/http-server/src/router/radix_tree/compression.rs
  packages-ffi/http-server/src/router/radix_tree/indices.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/mask.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/router/structures.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

temp commit
  .husky/pre-push
Due: none

temp commit
  packages-ffi/http-server/src/callback_dispatcher.rs
  packages-ffi/http-server/src/helpers.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/tests/common.rs
  packages-ffi/http-server/tests/ffi/common.rs
  packages-ffi/http-server/tests/ffi/concurrency.rs
  packages-ffi/http-server/tests/ffi/lifecycle.rs
  packages-ffi/http-server/tests/ffi/request_processing.rs
  packages-ffi/http-server/tests/ffi/resource_management.rs
  packages-ffi/http-server/tests/helper.rs
  packages-ffi/http-server/tests/middleware/body_processing.rs
  packages-ffi/http-server/tests/middleware/cookie_processing.rs
  packages-ffi/http-server/tests/middleware/header_processing.rs
  packages-ffi/http-server/tests/middleware/url_processing.rs
  packages-ffi/http-server/tests/mod.rs
  packages-ffi/http-server/tests/request_handler/concurrency_handling.rs
  packages-ffi/http-server/tests/request_handler/header_processing.rs
  packages-ffi/http-server/tests/request_handler/mod.rs
  packages-ffi/http-server/tests/request_handler/payload_parsing.rs
  packages-ffi/http-server/tests/request_handler/request_validation.rs
  packages-ffi/http-server/tests/request_handler/routing_engine.rs
  packages-ffi/http-server/tests/router/behavior.rs
  packages-ffi/http-server/tests/router/bulk_registration.rs
  packages-ffi/http-server/tests/router/matching.rs
  packages-ffi/http-server/tests/router/optimizations.rs
  packages-ffi/http-server/tests/router/performance.rs
  packages-ffi/http-server/tests/thread_pool/environment_variables.rs
  packages-ffi/http-server/tests/thread_pool/job_execution.rs
  packages-ffi/http-server/tests/thread_pool/resilience.rs
  packages-ffi/http-server/tests/thread_pool/shutdown_semantics.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: delete tests
  packages-ffi/http-server/tests/ffi/common.rs
  packages-ffi/http-server/tests/ffi/concurrency.rs
  packages-ffi/http-server/tests/ffi/lifecycle.rs
  packages-ffi/http-server/tests/ffi/mod.rs
  packages-ffi/http-server/tests/ffi/request_processing.rs
  packages-ffi/http-server/tests/ffi/resource_management.rs
  packages-ffi/http-server/tests/ffi/route_management.rs
  packages-ffi/http-server/tests/ffi/router_sealing.rs
  packages-ffi/http-server/tests/ffi/utilities.rs
  packages-ffi/http-server/tests/helper.rs
  packages-ffi/http-server/tests/middleware/body_processing.rs
  packages-ffi/http-server/tests/middleware/cookie_processing.rs
  packages-ffi/http-server/tests/middleware/header_processing.rs
  packages-ffi/http-server/tests/middleware/mod.rs
  packages-ffi/http-server/tests/middleware/url_processing.rs
  packages-ffi/http-server/tests/mod.rs
  packages-ffi/http-server/tests/request_handler/concurrency_handling.rs
  packages-ffi/http-server/tests/request_handler/header_processing.rs
  packages-ffi/http-server/tests/request_handler/mod.rs
  packages-ffi/http-server/tests/request_handler/request_validation.rs
  packages-ffi/http-server/tests/request_handler/routing_engine.rs
  packages-ffi/http-server/tests/router/behavior.rs
  packages-ffi/http-server/tests/router/bulk_registration.rs
  packages-ffi/http-server/tests/router/matching.rs
  packages-ffi/http-server/tests/router/mod.rs
  packages-ffi/http-server/tests/router/optimizations.rs
  packages-ffi/http-server/tests/router/performance.rs
  packages-ffi/http-server/tests/router/registration.rs
  packages-ffi/http-server/tests/router/security.rs
  packages-ffi/http-server/tests/thread_pool/environment_variables.rs
  packages-ffi/http-server/tests/thread_pool/job_execution.rs
  packages-ffi/http-server/tests/thread_pool/mod.rs
  packages-ffi/http-server/tests/thread_pool/queue_capacity.rs
  packages-ffi/http-server/tests/thread_pool/resilience.rs
  packages-ffi/http-server/tests/thread_pool/shutdown_semantics.rs
  scripts/init.sh
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: json_utils
  Makefile
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/utils/json_utils.rs
  packages-ffi/http-server/src/utils/json_utils_test.rs
  packages-ffi/http-server/src/utils/mod.rs
  scripts/init.sh
  test.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: structures
  Makefile
  packages-ffi/http-server/src/constants.rs
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/errors/http_server_error.rs
  packages-ffi/http-server/src/errors/internal_error.rs
  packages-ffi/http-server/src/errors/mod.rs
  packages-ffi/http-server/src/helpers.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/chain.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/mod.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs.backup
  packages-ffi/http-server/src/request_handler/callback_dispatcher.rs
  packages-ffi/http-server/src/request_handler/helpers.rs
  packages-ffi/http-server/src/request_handler/mod.rs
  packages-ffi/http-server/src/request_handler/request_handler.rs
  packages-ffi/http-server/src/request_handler/structures.rs
  packages-ffi/http-server/src/request_handler/types.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/util.rs
  packages-ffi/http-server/src/utils/json.rs
  packages-ffi/http-server/src/utils/json_test.rs
  packages-ffi/http-server/src/utils/mod.rs
  packages-ffi/http-server/src/utils/string.rs
  packages-ffi/http-server/test_scheme.rs
  test_brackets
  test_brackets.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: lint, format
  packages-ffi/http-server/src/errors/http_server_error.rs
  packages-ffi/http-server/src/errors/mod.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler/callback_dispatcher.rs
  packages-ffi/http-server/src/request_handler/handler.rs
  packages-ffi/http-server/src/request_handler/helpers.rs
  packages-ffi/http-server/src/request_handler/mod.rs
  packages-ffi/http-server/src/request_handler/structures.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/path.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/router/structures.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/src/utils/json.rs
  packages-ffi/http-server/src/utils/json_test.rs
  packages-ffi/http-server/src/utils/mod.rs
  packages-ffi/http-server/src/utils/string.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

doc: test guide
  .copilotrc.json
  .vscode/settings.json
  Cargo.toml
  TEST_GUIDE.md
  packages-ffi/http-server/src/utils/json.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: string util
  packages-ffi/http-server/src/utils/json_test.rs
  packages-ffi/http-server/src/utils/mod.rs
  packages-ffi/http-server/src/utils/string_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: ffi route handler
  Makefile
  packages-ffi/http-server/src/errors/http_server_error.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler/callback_dispatcher.rs
  packages-ffi/http-server/src/request_handler/handler.rs
  packages-ffi/http-server/src/request_handler/helpers.rs
  packages-ffi/http-server/src/request_handler/types.rs
  packages/core/index.ts
  packages/core/logger/src/logger.ts
  packages/core/src/errors/errors.ts
  packages/core/src/helpers.ts
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/index.ts
  packages/core/src/rust-core/interfaces.ts
  packages/core/src/rust-core/types.ts
  packages/core/src/rust-core/utils.ts
  packages/core/src/utils.ts
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/constants.ts
  packages/http-server/src/rust-core/rust-core.ts
  scripts/cargo-test.sh
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add pointer registry
  Makefile
  TEST_GUIDE.md
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/pointer_registry.rs
  packages-ffi/http-server/src/pointer_registry_test.rs
  packages-ffi/http-server/src/request_handler/callback_dispatcher.rs
  packages-ffi/http-server/src/request_handler/helpers.rs
  packages-ffi/http-server/src/utils/json.rs
  packages-ffi/http-server/src/utils/string.rs
  packages-ffi/http-server/src/utils/string_test.rs
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/utils.ts
  packages/http-server/src/rust-core/rust-core.ts
  scripts/check_test_modules.sh
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: format
  packages-ffi/http-server/src/enums.rs
  packages-ffi/http-server/src/request_handler/handler.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/builder.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/mask.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: structure
  examples/src/root.module.ts
  package.json
  packages/core/index.ts
  packages/core/logger/src/interfaces.ts
  packages/core/logger/src/logger.spec.ts
  packages/core/logger/src/logger.ts
  packages/core/logger/src/types.ts
  packages/core/src/application/base-application.ts
  packages/core/src/application/decorators/class.decorator.ts
  packages/core/src/application/decorators/errors.ts
  packages/core/src/application/decorators/index.ts
  packages/core/src/application/decorators/interfaces.ts
  packages/core/src/application/decorators/parameter.decorator.ts
  packages/core/src/application/index.ts
  packages/core/src/application/interfaces.ts
  packages/core/src/bunner.ts
  packages/core/src/common/constants.ts
  packages/core/src/common/helpers.ts
  packages/core/src/common/index.ts
  packages/core/src/common/instances.ts
  packages/core/src/common/types.ts
  packages/core/src/common/utils.ts
  packages/core/src/error-handler/.gitkeep
  packages/core/src/errors/errors.ts
  packages/core/src/injector/container.ts
  packages/core/src/injector/helpers.ts
  packages/core/src/injector/interfaces.ts
  packages/core/src/injector/types.ts
  packages/core/src/interfaces.ts
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/errors.ts
  packages/core/src/rust-core/index.ts
  packages/core/src/rust-core/interfaces.ts
  packages/core/src/rust-core/utils.ts
  packages/http-server/index.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/decorators/interfaces.ts
  packages/http-server/src/decorators/method.decorator.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: safety free pointer
  packages/core/src/injector/index.ts
  packages/core/src/rust-core/base-ffi-core.ts
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/decorators.ts
  packages/core/src/rust-core/enums.ts
  packages/core/src/rust-core/errors.ts
  packages/core/src/rust-core/ffi-pointer.ts
  packages/core/src/rust-core/helpers.ts
  packages/core/src/rust-core/index.ts
  packages/core/src/rust-core/interfaces.ts
  packages/core/src/rust-core/types.ts
  packages/core/src/rust-core/utils.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

chore: activate pre-push hook
  .husky/pre-push
  packages/core/logger/src/logger.ts
  packages/http-server/src/ffi/ffi.ts
Due: bunx eslint --fix, bunx prettier --write

fix: deps
  rust-packages/http-server/Cargo.toml
Due: none

Path conditions:
  bunx eslint --fix: any of: *.{ts,json,md,css,yaml,yml}
  bunx prettier --write: any of: *.{ts,json,md,css,yaml,yml}
  sh -c 'rustfmt "$1" && git add "$1"' --: any of: *.rs
  echo Rust files formatted: any of: *.rs
