Repository parkrevil/bunner: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: ffi validation
  packages/core/src/ffi/ffi-pointer.ts
  packages/http-server/src/ffi/ffi.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add worker queue
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/request_callback_dispatcher.rs
  rust-packages/http-server/src/structures.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: dispatcher name
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/app_handle_request_dispatcher.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/utils/ffi.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: thread safe callback
  .gitignore
  Cargo.toml
  Makefile
  examples/src/main.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/app_request_callback_dispatcher.rs
  rust-packages/http-server/src/lib.rs
  scripts/cargo-build.sh
  scripts/stress-bombardier.sh
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: improve app options
  Makefile
  examples/src/main.ts
  packages/core/src/application/base-application.ts
  packages/core/src/application/interfaces.ts
  packages/core/src/bunner.ts
  packages/core/src/common/types.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/thread_pool.rs
  scripts/stress-bombardier.sh
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

format: hook
  packages/core/src/bunner.ts
  rust-packages/http-server/src/router/mod.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/utils/ffi.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

lint: fix
  rust-packages/http-server/src/utils/ffi.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: worker loadbalancer logic
  packages/core/src/worker-pool/base-worker.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: worker graceful shutdown
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/worker-pool/base-worker.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/bunner-http-worker.ts
  packages/http-server/src/ffi/ffi.ts
Due: bunx eslint --fix, bunx prettier --write

feat: load balancer weight balancing
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
Due: bunx eslint --fix, bunx prettier --write

feat: replace worker getter to call function
  packages/core/src/common/types.ts
  packages/core/src/worker-pool/base-worker.ts
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

feat: revival worker
  packages/core/package.json
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: handleCrash call
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add defense code to worker pool & load balancer
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add responseTime, strict type
  packages/core/src/common/types.ts
  packages/core/src/ffi/base-ffi.ts
  packages/core/src/worker-pool/interfaces.ts
  packages/core/src/worker-pool/load-balancer.ts
  packages/core/src/worker-pool/types.ts
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

fix: lint
  packages/core/src/worker-pool/worker-pool.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: rename dispatch function
  rust-packages/http-server/src/app_request_callback_dispatcher.rs
  rust-packages/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add body limit
  packages/core/src/application/base-application.ts
  packages/core/src/bunner.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write

feat: header parser
  examples/src/main.ts
  packages/http-server/src/bunner-http-application.ts
  packages/http-server/src/bunner-http-worker.ts
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/enums.ts
  packages/http-server/src/ffi/ffi.ts
  packages/http-server/src/ffi/interfaces.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/utils/index.ts
  packages/http-server/src/utils/interfaces.ts
  packages/http-server/src/utils/ip.ts
  packages/http-server/src/worker.ts
  rust-packages/http-server/Cargo.toml
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/app_registry.rs
  rust-packages/http-server/src/enums.rs
  rust-packages/http-server/src/lib.rs
  rust-packages/http-server/src/middlewares/header_parser.rs
  rust-packages/http-server/src/router/pattern.rs
  rust-packages/http-server/src/router/radix_tree.rs
  rust-packages/http-server/src/router/radix_tree/builder.rs
  rust-packages/http-server/src/router/radix_tree/insert.rs
  rust-packages/http-server/src/router/radix_tree/mask.rs
  rust-packages/http-server/src/router/radix_tree/static_map.rs
  rust-packages/http-server/src/router/readonly.rs
  rust-packages/http-server/src/structures.rs
  rust-packages/http-server/src/thread_pool.rs
  rust-packages/http-server/src/utils/ffi.rs
  rust-packages/http-server/src/utils/json.rs
  rust-packages/http-server/src/utils/json_test.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: edit git hook command
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  rust-packages/core/logger/src/lib.rs
  rust-packages/http-server/src/middlewares/header_parser.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: header_parser.rs file to module
  .husky/pre-commit
  rust-packages/http-server/src/middlewares/header_parser.rs
  rust-packages/http-server/src/middlewares/header_parser/content_type.rs
  rust-packages/http-server/src/middlewares/header_parser/forwarded.rs
  rust-packages/http-server/src/middlewares/header_parser/host.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
  rust-packages/http-server/src/middlewares/header_parser/utils.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: enforce commit linting
  .commitlintrc
  .husky/commit-msg
  package.json
Due: bunx eslint --fix, bunx prettier --write

chore: remove outdated router plan
  PLAN.md
Due: bunx eslint --fix, bunx prettier --write

chore: fix knip
  knip.json
  packages/http-server/src/worker.ts
Due: bunx eslint --fix, bunx prettier --write

test(http-server): cover content-type parser
  rust-packages/http-server/src/middlewares/header_parser/content_type_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: format hook
  .husky/pre-commit
  rust-packages/http-server/src/middlewares/header_parser/content_type_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test(header_parser): add forwarded parser tests
  rust-packages/http-server/src/middlewares/header_parser/forwarded_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore(husky): drop deprecated commit-msg shim
  .husky/commit-msg
Due: none

test(header_parser): add host parser tests
  .commitlintrc
  .commitlintrc.json
  rust-packages/http-server/src/middlewares/header_parser/host_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test(header_parser): cover utils helpers
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
  rust-packages/http-server/src/middlewares/header_parser/utils_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test(header_parser): harden header parser paths
  rust-packages/http-server/src/middlewares/header_parser/header_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: use forwarded header enum
  package.json
  packages/http-server/src/enums.ts
  packages/http-server/src/utils/ip.test.ts
  packages/http-server/src/utils/ip.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: modularize cookie parser
  rust-packages/http-server/Cargo.toml
  rust-packages/http-server/src/middlewares/cookie_parser.rs
  rust-packages/http-server/src/middlewares/cookie_parser/mod.rs
  rust-packages/http-server/src/middlewares/cookie_parser/parser.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: harden cookie parser coverage
  rust-packages/http-server/src/middlewares/cookie_parser/cookie_parser_test.rs
  rust-packages/http-server/src/middlewares/cookie_parser/mod.rs
  rust-packages/http-server/src/middlewares/cookie_parser/parser_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: remove forwarded from bunner request
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/ffi/interfaces.ts
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/middlewares/cookie_parser/cookie_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/header_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: mark bunner request fields nullable
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/ffi/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: modularize url parser
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/ffi/interfaces.ts
  rust-packages/http-server/Cargo.toml
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/middlewares/cookie_parser/cookie_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/header_parser_test.rs
  rust-packages/http-server/src/middlewares/url_parser.rs
  rust-packages/http-server/src/middlewares/url_parser/mod.rs
  rust-packages/http-server/src/middlewares/url_parser/parser.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test(url_parser): broaden unit coverage
  rust-packages/http-server/src/middlewares/url_parser/mod.rs
  rust-packages/http-server/src/middlewares/url_parser/parser_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test(url_parser): extend middleware coverage
  rust-packages/http-server/src/middlewares/url_parser/mod.rs
  rust-packages/http-server/src/middlewares/url_parser/mod_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: align BunnerRequest collection defaults across FFI
  packages/http-server/src/bunner-http-worker.ts
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/ffi/interfaces.ts
  rust-packages/http-server/src/app.rs
  rust-packages/http-server/src/middlewares/cookie_parser/cookie_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/header_parser_test.rs
  rust-packages/http-server/src/middlewares/header_parser/mod.rs
  rust-packages/http-server/src/middlewares/url_parser/mod_test.rs
  rust-packages/http-server/src/structures.rs
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

Path conditions:
  bunx eslint --fix: any of: *.{ts,json,md,css,yaml,yml}
  bunx prettier --write: any of: *.{ts,json,md,css,yaml,yml}
  sh -c 'rustfmt "$1" && git add "$1"' --: any of: *.rs
  echo Rust files formatted: any of: *.rs
