Repository parkrevil/bunner: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

.lintstagedrc.json:

{
  "*.{ts,json,md,css,yaml,yml}": ["bunx eslint --fix", "bunx prettier --write"],
  "*.rs": [
    "sh -c 'rustfmt \"$1\" && git add \"$1\"' --",
    "echo Rust files formatted"
  ]
}

chore: fix deps script
  scripts/check-dependencies.sh
Due: none

chore: clean deps
  packages-ffi/http-server/Cargo.toml
Due: none

refactor: rust core structure
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages/core/index.ts
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/index.ts
  packages/core/src/rust-core/interfaces.ts
  packages/core/src/rust-core/types.ts
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/rust-core/constants.ts
  packages/http-server/src/rust-core/errors.ts
  packages/http-server/src/rust-core/helpers.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add route ffi
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/errors.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/util.rs
  packages/core/src/rust-core/base-rust-core.ts
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: restruct lifecycle
  packages/core/src/rust-core/base-rust-core.ts
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add routes
  packages/core/src/helpers.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add routes
  packages-ffi/http-server/src/enum.rs
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/errors.rs
  packages-ffi/http-server/src/structure.rs
  packages/core/src/helpers.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/index.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
  packages/http-server/src/rust-core/types.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: apply ffi type
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: change ts handle request to jscallback
  packages/core/src/rust-core/base-rust-core.ts
  packages/core/src/rust-core/interfaces.ts
  packages/core/src/rust-core/types.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add rust handle request structure
  packages-ffi/http-server/src/structure.rs
  packages/http-server/src/rust-core/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: handle request basic logic
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/pattern.rs
  packages-ffi/http-server/src/router/radix_tree/compression.rs
  packages-ffi/http-server/src/router/radix_tree/find.rs
  packages-ffi/http-server/src/router/radix_tree/indices.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/router/radix_tree/mask.rs
  packages-ffi/http-server/src/router/radix_tree/memory.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/radix_tree/static_map.rs
  packages-ffi/http-server/src/router/radix_tree/traversal.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: edit handle request args
  .husky/pre-commit
  .husky/pre-push
  Makefile
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/structure.rs
  packages/core/src/helpers.ts
  packages/core/src/rust-core/base-rust-core.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add thread pool
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages/core/src/rust-core/base-rust-core.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: parse url
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/structure.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: find route
  packages-ffi/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: deps
  packages-ffi/http-server/Cargo.toml
  packages-ffi/http-server/src/lib.rs
  scripts/init.sh
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: apply threading temporary
  packages-ffi/http-server/src/lib.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: handle_request async callback
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: router readonly
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/readonly.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: handle_request multi threading
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/radix_tree/alloc.rs
  packages-ffi/http-server/src/router/radix_tree/node.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages/http-server/src/rust-core/constants.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: any
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/src/util.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

chore: fix lint
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/mod.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/thread_pool.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: result parsing pos
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: rust request-handler
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/structure.rs
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/constants.ts
  packages/http-server/src/rust-core/interfaces.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: http-server(request_handler, thread_pool, ffi)
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/src/thread_pool.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages-ffi/http-server/tests/thread_pool_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

refactor: unused variables, functions, logic
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/radix_tree.rs
  packages-ffi/http-server/src/router/radix_tree/insert.rs
  packages-ffi/http-server/tests/ffi_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: refactor test logic
  packages-ffi/http-server/tests/common.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: middleware chain
  packages-ffi/http-server/src/enum.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/chain.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/mod.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/router/readonly.rs
  packages-ffi/http-server/src/structure.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

test: middlewares
  packages-ffi/http-server/src/enum.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/tests/common.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/middleware_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: add middleware return value to exit pipeline
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/chain.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/tests/middleware_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: header parser done
  packages-ffi/http-server/src/middleware/header_parser.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: url parser done
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/structure.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: body parser done
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/cookie_parser.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: bunner request structure
  packages-ffi/http-server/src/middleware/chain.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: refactor all of middlewares and test
  packages-ffi/http-server/src/enum.rs
  packages-ffi/http-server/src/middleware/body_parser.rs
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/middleware_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

fix: lint
  packages-ffi/http-server/src/middleware/url_parser.rs
  packages-ffi/http-server/tests/common.rs
  packages-ffi/http-server/tests/thread_pool_test.rs
Due: sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: ts handle route
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add bunner request
  packages-ffi/http-server/src/middleware/header_parser.rs
  packages-ffi/http-server/src/request_handler.rs
  packages-ffi/http-server/src/structure.rs
  packages-ffi/http-server/tests/middleware_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/constants.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  test.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted

feat: bunner req & res
  eslint.config.ts
  packages/core/index.ts
  packages/core/logger/src/constants.ts
  packages/core/logger/src/enums.ts
  packages/core/logger/src/logger.ts
  packages/core/logger/src/types.ts
  packages/core/src/decorators/class.decorator.ts
  packages/core/src/decorators/parameter.decorator.ts
  packages/core/src/errors.ts
  packages/core/src/errors/errors.ts
  packages/core/src/errors/index.ts
  packages/core/src/injector/constants.ts
  packages/core/src/injector/container.ts
  packages/core/src/injector/enums.ts
  packages/core/src/injector/index.ts
  packages/core/src/instances.ts
  packages/http-server/package.json
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/bunner-request.ts
  packages/http-server/src/bunner-response.ts
  packages/http-server/src/constants.ts
  packages/http-server/src/decorators/class.decorator.ts
  packages/http-server/src/decorators/constants.ts
  packages/http-server/src/decorators/enums.ts
  packages/http-server/src/decorators/index.ts
  packages/http-server/src/decorators/method.decorator.ts
  packages/http-server/src/decorators/parameter.decorator.ts
  packages/http-server/src/enums.ts
  packages/http-server/src/errors/errors.ts
  packages/http-server/src/errors/index.ts
  packages/http-server/src/interfaces.ts
  packages/http-server/src/route-handler.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
  packages/http-server/src/types.ts
Due: bunx eslint --fix, bunx prettier --write

refactor: error codes
  packages-ffi/http-server/src/errors.rs
  packages-ffi/http-server/src/lib.rs
  packages-ffi/http-server/src/router/errors.rs
  packages-ffi/http-server/tests/ffi_test.rs
  packages-ffi/http-server/tests/request_handler_test.rs
  packages/core/index.ts
  packages/http-server/src/bunner-http-server.ts
  packages/http-server/src/rust-core/interfaces.ts
  packages/http-server/src/rust-core/rust-core.ts
Due: bunx eslint --fix, bunx prettier --write, sh -c 'rustfmt "$1" && git add "$1"' --, echo Rust files formatted
